* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

.section {
  padding: 100px 8%;
}

.yellow {
  color: #ffb400;
}

.btn {
  background: #ffb400;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

img {
  max-width: 100%;
  border-radius: 20px;
}
